<section pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center>
  <p class="lead">
      Первый в мире  удобный менеджер флеш-карточек. Именно так.
  </p>
    <% if current_user.current_pack_id %>
      <% if  @card %>
        <p class="Message"><%= flash[:flash_message] %></p>
        <%= render 'form_random' %>
      <% else %>
        <p class="lead">Сейчас нет карточек для проверки, загляните позже.</p>
       <% end %>
    <% else %>
      <%= flash[:flash_message] %>
    <% end %>
</section>
