<!DOCTYPE html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
</head>

<body>
<section id="container">
  <%= render 'layouts/header' %>

  <%= yield %>
</section>
</body>
</html>
